

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
  flex-direction: row;
  height: 100vh;
}

.side-content {
  flex: 1 0 500px;
  background-color: black;
  background-image: url(./images/picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.signup-container {
  background-color: whitesmoke;
  flex: 7;
}


form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 15px;
  margin: 20px 10px;
  border: black solid 2px;
}

form > label {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.hedgehogs {
  width: 60%;
}

@media screen and (max-width: 1100px) {
  form > label, .hedgehogs {
    /* flex-direction: row; */
    width: 95%;
  }


} 



@media screen and (max-width: 800px) {
  body {
    flex-direction: column;
  }

  .side-content {
    flex: 0 0 200px;
    background-position: center;
  }

  form > label {
    width: 45%;
  }

  .hedgehogs {
    width: 60%;
  }
} 