

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.side-content {
  max-width: 300px;
  flex: 0 1 20%;
  background-color: black;
}

.signup-container {
  background-color: red;
  flex: 1;
}