

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color: ligh; */
  --main-color: rgb(71, 110, 71);
  --secondary-color: rgb(71, 110, 71, 0.5);
  --bg-color: rgb(176, 175, 175, 0.9);
  --secondary-bg-color: rgb(176, 175, 175, 1);
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  font-size: 16px;
  position: relative;
}

.side-content {
  flex: 1 0 500px;
  background-image: url(./images/picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  & span {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: whitesmoke;
    background-color: rgb(0,0,0,0.3);
    & a {
      color: whitesmoke;
    }
  }
}

.signup-container {
  background-color: var(--bg-color);
  flex: 7;
}

header {
  padding: 10px 30px;
}

h1, h2 {
  text-align: center;
  color: var(--main-color);
}

h1 {
  margin-bottom: 10px;
}

header > p {
  color: black;
  text-align: right;
}

h3 {
  font-size: 0.8rem;
  margin-bottom: 20px;
  color: var(--secondary-color);
}


form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
  background-image: linear-gradient(rgb(176, 175, 175, 0.1), rgb(176, 190, 175, 1.2), rgb(176, 175, 175, 0.1));
}

ul {
  width: 46.3%;
  color: var(--main-color);
  font-weight: bold;
  list-style: none;
  position: relative;


  & li > input, & li > select {
    width: 100%;
  }
}

.hedgehogs, .email {
  width: 95%;
}

input, select {
  font: inherit;
  padding: 0.1lh 1lh 0.1lh 0.2lh;
  border-radius: 4px;
}

button {
  font: inherit;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: white;
  margin-left: 15px;
  padding: 0.2lh 0.4lh;
  border-radius: 4px;
  box-shadow: #287b3a 2px 2px 3px;
}

button:active {
  position: relative;
  top: 2px;
  left: 3px;
  box-shadow: none;
}

a {
  color: var(--main-color);
}

p {
  margin: 10px 15px;
}

input::placeholder {
  opacity: 0.5;  
}

input:hover, select:hover {
  opacity: 0.85;
  outline: 2px purple solid;
  outline-offset: 2px;
}

button, select, label {
  cursor: pointer;
}



input:required:user-invalid {
  border: red 2px solid;
  background-color: rgb(255, 141, 141,0.5); 
}

input:valid, select {
  background-color: rgb(141, 234, 141,0.5);
}

input:user-invalid + span::before {
  position: absolute;
  top: 28px;
  right: 10px;
  content: 'X';
  color: red;
}

input:user-valid + span::before {
  position: absolute;
  top: 25px;
  right: 10px;
  content: '\2713';
  font-size: 1rem;
  color: green;
}

.invalid {
  color: red;
}

input:focus {
  outline-offset: 3px;
  outline-color: purple;
}

@media screen and (max-width: 1100px) {
  ul {
    /* flex-direction: row; */
    width: 95%;
  }


} 



@media screen and (max-width: 800px) {
  body {
    flex-direction: column;
  }

  .side-content {
    flex: 0 0 200px;
    background-position: center;
  }

  ul {
    width: 46.3%;
  }
} 